DS_Store
*.pdf
*~
\#*\#
.ipynb_checkpoints/
*.hdf5
data/
sandbox.ipynb
classical-ml/*.csv
test_pytorch_postinstall.ipynb
datasets/household_power_consumption.txt
classical-ml/ts_data/
classical-ml/.ipynb_checkpoints
classical-ml/*.h5
classical-ml/Regression/